.add-task-form {
	width: 100%;
}

.form-input-description {
	float: left;
	height: 4em;
	width: 66.6%;
	text-indent: 2em;
	border: none;
	display: inline-block;
	background-color: rgb(241, 241, 241);
	padding-right: 3em;
}

.form-input-priority {
	height: 4em;
	text-indent: 0.7em;
	border: none;
	clear: left;
	background-color: rgb(241, 241, 241);
}

.input {
	float: left;
	width: 90%;
	background-color: rgb(241, 241, 241);
	padding-right: 0.8em;
}

.button {
	float: right;
	height: 4.22em;
	background-color: rgb(56, 56, 55);
	border: none;
	color: rgb(241, 241, 241);
	cursor: pointer;
	text-align: center;
	width: 8%;
	padding: 0;
}

.tasks-active-row {
	background-color: rgb(241, 241, 241);
	font-size: 1em;
	padding: 1em;
}

.form-input {
	background-color: rgb(241, 241, 241);
	
}

.enter-new-task {
	background-color: rgb(241, 241, 241);
}


/* form-input-description
/* form-input-priority
/* submit 