table {
	width: 100%;
}

tr {
	height: 4em;
	text-indent: 2em;
}

.tasks-active-row {
	background-color: rgb(241, 241, 241);
	font-size: 1em;
	padding: 1em;
}

.tasks-inactive-row {
	background-color: rgb(241, 241, 241);
	font-size: 1em;
	padding: 1em;
}



/* 
 <div class="tasks-active">
        <table class="tasks-active-table">
            <tr class="tasks-active-row">
               <td class="tasks-active-data">
*/
