<header class="header">
    <h1 class="title">Current Tasks</h1>
</header>

<section class="active">
    <pre ng-if="false">{{active|json}}</pre>
    <div class="tasks-active">
        <table class="tasks-active-table">
            <thead> 
                 <tr class="table-row-labels">
                    <th class="table-row-labels description">Task Description</th>
                    <th class="table-row-labels priority">Priority</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <form>
                           <!--  <pre>{{ active.newTask }}</pre> -->
                            <div class="add-task-form">
                                <!-- <label for="EnterNewTask">Enter New Task</label> ng-disabled="active.newTask.description"-->
                                <div class="input">
                                    <input type="text"  ng-model="active.newTask.description" class="form-input-description active-task-data" placeholder="Enter New Task"> 
                                    <input type="text" ng-model="active.newTask.priority"  class="form-input-priority active-task-data" placeholder="Priority">
                                </div> 
                                <button type="submit" class="button" ng-click="active.addTask(input)" ng-disabled="!active.newTask.description">Add</button>

                            </div>
                        </form>
                    </td>
                </tr>
               
            </thead>
            <tbody>	
                <tr class="tasks-active-row" ng-repeat="task in active.tasks" ng-if="!active.didTaskExpire(task)">
                    <td class="active-task-data-description">{{ task.description }}</td>
                    <td class="active-task-data-priority">{{ task.priority }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
